id,name,model_id:id,group_id:id,perm_read,perm_write,perm_create,perm_unlink
access_new_model,access_new_model,model_new_model,custom_module.group_user,1,1,1,0
access_new_model_manager,access_new_model_manager,model_new_model,custom_module.group_manager,1,1,1,1
access_custom_wizard,access_custom_wizard,model_custom_wizard,base.group_user,1,1,1,0
