import logging

from odoo import http
from odoo.http import request

_logger = logging.getLogger(__name__)


class CustomController(http.Controller):
    @http.route(["/custom/<string:document>"], type="http", auth="public", website=True)
    def custom(self, document, **kwargs):
        """Custom controller."""
        _logger.warning(document)

        values = {
            "document": document,
            "custom_arg": kwargs.get("var", False),
        }

        return request.render("custom.index", values)
