#
#      ____  __  __  _____
#     / __ \|  \/  |/ ____|
#    | |  | | \  / | |  __
#    | |  | | |\/| | | |_ |
#    | |__| | |  | | |__| |
#     \____/|_|  |_|\_____|
#
#


from odoo import models, fields

class {{ classname }}(models.Model):
    {% if name and not inherit %}_name = "{{ name }}"{% endif %}
    {% if inherit %}_inherit = "{{ inherit }}"{% endif %}

    {% for field in fields %}{{ field }}
    {% endfor %}
